altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
chinesecalendar==1.9.2
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
exchange_calendars==4.5.6
fake-useragent==1.5.1
fonttools==4.53.1
func-timeout==4.3.5
gunicorn==23.0.0
idna==3.7
jieba==0.42.1
Jinja2==3.1.4
jsonpath==0.82.2
kiwisolver==1.4.7
korean-lunar-calendar==0.3.1
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.2
multitasking==0.0.11
numpy==2.0.1
packaging==24.1
pandas==2.2.2
patsy==0.5.6
pefile==2023.2.7
pillow==10.4.0
plotly==5.24.1
plotly-express==0.4.1
plumbum==1.8.3
prettytable==3.11.0
py-mini-racer==0.6.0
pydash==7.0.7
pyecharts==2.0.6
PyExecJS==1.5.1
pyluach==2.2.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
pywencai==0.12.2
pywin32==306
pywin32-ctypes==0.2.3
qstock==1.3.6
requests==2.32.3
rpyc==6.0.0
scipy==1.14.1
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
statsmodels==0.14.3
tenacity==9.0.0
toolz==0.12.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
websocket-client==0.57.0
